mixin link(text='', name='', className='')
    a(href=require(`../../assets/docs/${name}`) class=`${className}`)= text

mixin link_download(text='', name='', className='')
    a(href=require(`../../assets/docs/${name}`) download=`${text}.pdf` class=`${className}`)= text
